
.selectedMenu
{
  /*background-color: rgb(0, 96, 150);*/
  font-weight:bold;
  font-size:150%;
}

.bgWhite
{
  background-color:white;
}

.height1{
	height:1em;	
}

.height2{
	height:2em;	
}

.height3{
	height:3em;	
}

.height4{
	height:4em;	
}

.height5{
	height:5em;	
}

.height10{
	height:10em;	
}

.push-right
{
	float:right;
}

.push-left
{
  float:left;
}

.nut-sidenav {
  padding: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.nut-sidenav > li > a {
  background-color: #fff;
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

.nut-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.nut-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.nut-sidenav > li > a:hover {
  background-color: #f5f5f5;

}

.nut-sidenav  .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.nut-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}

.nut-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.nut-sidenav .active .icon-chevron-right,
.nut-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
