.gameSwitch{
    display: block;
    float: left;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    background: #eee;
    border: 1px solid #aaa;
    padding: 2px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}

.gameSwitch  input[type=radio]{
    display: none;
}

.gameSwitch label{
    display: block;
    float: left;
    padding: 3px 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #aaa;
    cursor: pointer;
    font-weight: bold;
    margin:0px;
}

.gameSwitch label:hover{
    text-shadow: 0 0 2px #fff;
    color: #888;
}

.gameSwitch label.checked{
    background: #0077ff;
    color: #eee;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(top, #5f97e6, #2d5791);
    background: -moz-linear-gradient(top, #5f97e6, #2d5791);
    background: -ms-linear-gradient(top, #5f97e6, #2d5791);
    cursor: default;
}

.handPointer{
    cursor:pointer;
}


.box {
    width: 108px;
    height: 108px;
    background-color: white;
    /*margin: 5px;*/
    padding: 5px;
    display: block;
    float:left;
}

.blockedEventClass
{
  border:3px solid rgb(211, 71, 71);
}

.unblockedEventClass
{
  border:3px solid rgb(51, 139, 69);
}

.gameTableEvent
{
  margin-bottom: 0px;
}

.gameTableEvent td{
    text-align:center;
    vertical-align:middle;
    margin:0px;
    padding:0px;
}

.gameTableEvent th{
    text-align:center;
    vertical-align:middle;
    margin:0px;
    padding:0px;
}

.basis {
    border:solid #f5f5f5 1px;
    background-color:transparent;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    color: #888888;
    font-size:13px;
    font-style:bold;
    cursor: text;
    width:30px;
}

.basis:hover{
  border:solid #cccccc 1px;
}

.coefficient {
    width:30px;
    border:solid #f5f5f5 1px;
    background-color:transparent;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    cursor: text;
}

.coefficient:hover{
  border:solid #cccccc 1px;
}

.checkHeader {
    width:20px;
    height:20px;
}

.checkItem {
    width:18px;
    height:18px;
}