.blockedUser 
{
    width: 30px;
    height: 30px;
    background: transparent url(../img/blocked.png) no-repeat;
    cursor:pointer;
    cursor:hand;
}

.unblockedUser 
{
    width: 30px;
    height: 30px;
    background: transparent url(../img/unblocked.png) no-repeat;
    cursor:pointer;
    cursor:hand;    
}

.switch
{
    display: block;
    float: left;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    background: #eee;
    border: 1px solid #aaa;
    padding: 2px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}

.switch input[type=radio]
{
    display: none;
}

.switch label
{
    display: block;
    float: left;
    padding: 3px 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #aaa;
    cursor: pointer;
    font-weight: bold;
    margin:0px;
}

.switch label:hover
{
    text-shadow: 0 0 2px #fff;
    color: #888;
}

.switch label.checked
{
    background: #0077ff;
    color: #eee;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(top, #5f97e6, #2d5791);
    background: -moz-linear-gradient(top, #5f97e6, #2d5791);
    background: -ms-linear-gradient(top, #5f97e6, #2d5791);
    cursor: default;
}

.handPointer
{
    cursor:pointer;
    cursor:hand;
}

.userTable td{
    text-align:center;
    vertical-align:middle;
    padding:3px;
}


.userTable th{
    text-align:center;
    vertical-align:middle;
}