/* SUPERSONIC ADS CUSTOM STYLE*/

.ssaInterstitialOverlay{
	background:url(http://s.ssacdn.com/inlineDelivery/images/background.png); top left repeat;
	opacity:0.9;filter:alpha(opacity=90);
	width:100%;height:100%;position:fixed;top:0;left:0;
	z-index:9996;
}
.ssaInterstitialTopBar{
	text-align:center;
}
.ssaInterstitialButton{
	cursor:pointer;float:left;height:24px;line-height:24px;
	border:1px solid #999;
	padding:0px 10px;margin-top:8px;
	text-align:left;font-weight:bold;font-size:12px;color:#fff;
	text-shadow:1px 1px 0px #455C8E;
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* W3C */
}
.ssaInterstitialButton:hover{
	color:#fff;text-shadow:-1px -1px 0px #455C8E;
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 80%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(80%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 80%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 80%,#0a0809 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 80%,#0a0809 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #aebcbf 0%,#6e7774 50%,#0a0e0a 80%,#0a0809 100%); /* W3C */
}
.ssaInterstitialPagination{
	cursor:progress;margin-left:5px;border:1px solid #244380;
	color:#fff;text-shadow:1px 1px 0px #455C8E;
	background: #efc5ca; /* Old browsers */
	background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C */
}
.ssaInterstitialPagination:hover{
	color:#fff;text-shadow:-1px -1px 0px #455C8E;
	background: #efc5ca; /* Old browsers */
	background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C */
}
.ssaInterstitialNotification{
	display:none;
	z-index:9998;
	position:absolute;top:0;left:0;
	line-height:26px;height:26px;
	width:500px;
	background: #efc5ca; /* Old browsers */
	background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C */
	font-size:15px;font-weight:bold;color:#fff;text-shadow:-1px -1px 0px #455C8E;text-align:center;
	border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;-ms-border-radius:0 0 10px 10px;-o-border-radius:0 0 10px 10px;
}

.ssaEngagementWrap{
	background:#000 url(http://s.ssacdn.com/inlineDelivery/images/background2.png) left bottom no-repeat;
	color:#fff;
}

.ssaEngagementTitle{
	color:#fff;
	font-weight:bold;
	text-shadow:-1px -1px 3px #000, 1px 1px 1px #000;
}

.ssaEngagementFooter,.ssaEngagementVideo{
	background:transparent;
}

.ssaEngagementLogo{
	float:none;
	margin:0 auto 5px auto;
}

