/* for disabling selection*/
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Tahoma, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, button, select, textarea {
	font-family: Tahoma, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*USER VOICE */
.uvOverlay3 {
  min-width: 700px !important;
}

.uvOverlay3 > div{
  width: 750px !important;
  margin: -250px 0px 0px -382px !important;
}
/*USER VOICE */

.chiliSocialLoginBtn {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.mCSB_container{
	padding-top: 0px !important;
	margin-right: 0px !important;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.chRow {
  *zoom: 1 !important;
}

.chRow:before,
.chRow:after {
  display: table;
  line-height: 0;
  content: "";
}

.chRow:after {
  clear: both;
}

.headerGame{
	position: relative;
}

/*HEADER PARTICIPANT LOGO START*/
	.headerGame .headerParticipantLogo{
		position: absolute;
		padding: 4px;
		border-radius: 6px;
		z-index: 1000;
		top: 55px;
	}

	.headerParticipantLogo > img{
		width: 48px;
		height: 48px;
	}
/*HEADER PARTICIPANT LOGO END*/

/*HEADER PARTICIPANT NAME START*/
	.headerParticipantName{
		position: absolute;
		margin-top: 10px !important;
		font-size: 26px;
	}
/*HEADER PARTICIPANT NAME END*/

.chiliSoccerField{
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	top: 52px;
}

/*GAMES HEADER TITLE*/

/* MATCH TIME START*/
.matchTime{
	position: absolute;
	top:80px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.matchTime > div{
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
}
.matchTime h3{
	margin: 0px;
	padding: 0px;
	line-height: 32px;
}

.matchTime small{
	font-size: 82%;
}

/*MATCH TIME END*/

.chiliGamesTitle{
	position: relative;
	border: 0px;
	border-style: solid;
}

.chiliGamesBottom{
	position: absolute;
	bottom: 0px;
	border: 0px;
	border-style: solid;
}


.gameFilterPicker {
	position: absolute;
	cursor: pointer;
	top: 4px;
	left: 6px;
}

.pickCompetition {
	display: inline-block;
	width: 27px;
	float: left;
	padding: 2px 2px;
	text-align: center;
	background: rgb(255, 249, 249);
	margin-right: 7px;
	height: 23px;
	border-radius: 2px;
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
}

.pickCompetition > img{
	zoom:1;
	width: auto;
	margin-top: -2px;
} 

.competitionItem {
	padding: 5px;
	border-radius: 4px;
	float: left;
	border: 1px dashed gray;	
	width: 64px;
	height: 64px;
	position: relative;
	margin-left: 10px;
	margin-top:10px;
}

.competitionItem:hover {
	background: rgb(235, 235, 235);
}

.competitionItem img {
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
	width: 64px;
}


.datePicked {
	display: inline-block;
	width: 27px;
	float: left;
	padding: 2px 2px;
	text-align: center;
	background: rgb(255, 249, 249);
	margin-right: 3px;
	height: 23px;
	border-radius: 2px;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
}

.datePickedActive {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
}

.datePicked .pickerDate {
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
}

.datePicked .pickerMonth {
	font-size: 10px;
	line-height: 9px;
	padding: 0px;
	margin: 0px;
	font-style: oblique;
}

.disabledBetCart{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

/*GAMES HEADER TITLE END*/

.chiliGameRow{
	position: relative;
	border: 0px;
	border-style: solid;
}


.chSection{
	float:left;
	height: 100%;
}

.chSection .challengeAction{
	position: absolute; 
	top: 39px; 
	left:20px;
	font-style: italic;
} 

.chiliGameRow .game{
	position:relative;
}

.chiliGameRow .gameItemTime{
	position: absolute; 
	right: 0px;
	left: 0px;
	text-align: center; 
	top: 35px;
	font-size: 90%;
}

.chiliGameRow .gameItemStatus{
	position: absolute;
	text-align: center;
	width: 50px;
	left: 50%;
	margin-left: -25px;
	top:18px;
	font-weight: 900;
}

.chiliGameRow .gameItemStatus .gameWait~.tooltip {
   width: 150px !important;
}

.chiliGameRow .gameItemStatus .gameWait~.tooltip .tooltip-inner {
  	padding: 3px;
}


.chiliGameRow  .teamImg1{
	width: 30px;
	height: 30px;
	border-radius: 4px;
	/* customizable*/
	display: inline-block;
	position: absolute;
	top:22px;
	left:9px;
}

.chiliGameRow .teamImg2{
	width: 30px;
	height: 30px;
	border-radius: 4px;
	/* customizable*/
	display: inline-block;
	position: absolute;
	top:22px;
	right:9px;
}

.chiliGameRow .teamImg1 > img, .chiliGameRow  .teamImg2 > img{
	width: 24px;
	height:24px;
	margin:3px;
}

.chiliGameRow  .teamName1{
	position: absolute;
	top:1px;
	left:8px;
	font-size: 13px;
}

.chiliGameRow .teamName2{
	position: absolute;
	top:1px;
	right:8px;
	font-size: 13px;
}


/*CHALLENGE START*/
.slideChallange{
   -webkit-transition:all linear 0.25s;
  -moz-transition:all linear 0.25s;
  -o-transition:all linear 0.25s;
  transition:all linear 0.25s;
  left: 0px;
  opacity: 0.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
}

.slideChallange,
.slideChallange-add, .slideChallange-remove {
   -webkit-transition:all linear 0.25s;
  -moz-transition:all linear 0.25s;
  -o-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.slideChallange-add{
	left:0px;
	opacity: 1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
}
.slideChallange-add.slideChallange-add-active {
 	left:0px;
 	opacity: 0.3;
 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
}

.slideChallange-remove{
	left: 800px;
	opacity: 1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
}

.slideChallange-remove.slideChallange-remove-active {
   left: 0px;
   opacity: 1.0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   -moz-opacity: 1.0;
   -khtml-opacity: 1.0;
}

.challangeTeam {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 4px;
}

.challangeTeam > img {
	margin: 3px;
	zoom:1;
}

.opAvatarContainer {
	width: 50px;
}
 
.challengeRow{
	position: relative;
	border: 0px;
	border-style: solid;
}

.challengeRow .gameItemTime{
	position: absolute; 
	right: 0px;
	left: 0px;
	text-align: center; 
	top: 0px;
	font-size: 90%;
	z-index: 10;
}
.challengeRow .challangeStake{
	position: absolute; 
	right: 0px;
	left: 0px;
	text-align: center; 
	top: 6px;
	font-size: 20px;
	z-index: 10;
}

.challengeRow .opponent1{
	/*position: absolute;
	top:0px;
	left: 0px;*/
	width: 33%;
	float:left;
}

.challengeRow .challangeDraw {
	width: 33%;
	float:left;
}

.challengeRow .opponent2{
	/*position: absolute;*/
	/*top:0px;*/
	/*right: 0px;*/

	width: 33%;
	float:left;
}

.challengeRow .opponent1 .opponentImg1{
	border-radius: 4px;
	/* customizable*/
	display: inline-block;
	position: absolute;
	top:20px;
	left:9px;
	background-color: gray;
}

.challengeRow .opponent2 .opponentImg2{
	border-radius: 4px;
	/* customizable*/
	display: inline-block;
	position: absolute;
	top:20px;
	right:9px;
	background-color: gray;
}

.challengeRow .opponentImg1 > img, .challengeRow  .opponentImg2 > img{
	width: 36px;
	height:36px;
	margin:3px;
}

.challengeRow  .opponentName1{
	position: absolute;
	top: 0px;
	left: 8px;
	font-size: 14px;
}

.challengeRow .opponentName2{
	position: absolute;
	top: 0px;
	right: 8px;
	font-size: 14px;
}

.challangeOption{
	padding: 2px 8px;
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img24{
	width: 24px;
	height: 24px;
}


/*CHALLENGE END*/

.chiliGameRow .events{
	position: relative;
	top:10px;
	left:15px;
}

.gameItemDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
}

.chiliGamesTitle .eventTemplatesContainer{
	position: absolute;
	top: 6px;
	line-height: 1.2;
	cursor: default;
	left: 292px;
}

.chiliGameRow .eventItem{
	float: left;
}

/* BET*/
.betTableHeader th, td{
	padding: 0px !important;
}

.betTableHeader .part2 {
	width: 130px;
}

.betTableHeader .part3 {
	width: 160px;
}

.betGameTable .part2 {
	width: 130px;
}

.betGameTable .part3 {
	width: 100px;
}

.betGameTable .part4 {
	width: 60px;
}

.betGameTable th {
	text-align: left !important;
}

.challangeAmountHint {
	position: absolute;
	font-size: 13px;
	width: 240px;
	left: 83px;
	top: 45px;
}

.betAmountInput {
	width:99px !important;
	height:25px !important;
	margin-bottom:0px !important;
	padding-left: 5px !important; 
	border: 1px solid gray !important;
}

.betAmountInput:focus, .betAmountInput:hover {
	outline: none !important;
}

.betAmountErrors {
	position: absolute;
	font-size: 13px;
	color: rgb(235, 9, 36);
}

/*.betForm {
   -webkit-transition:all linear 0.5s;
   transition:all linear 0.5s;
   background: transparent;
 }
 .betForm.ng-invalid > input{
   border: 1px solid red;
 }
*/

.betRow {
	position: relative;
	border: 0px;
	border-style: solid;
	border-bottom: 1px dashed;
	border-top: 1px dashed;
}

.betRow .betItem{
	position:relative;
}

.betRow .gameItemTime{
	position: absolute; 
	right: 0px;
	left: 0px;
	text-align: center; 
	top: 24px;
	font-size: 90%;
}

.betRow  .teamImg1{
	width:  24px;
	height: 24px;
	border-radius: 4px;
	/* customizable*/
	display: inline-block;
	position: absolute;
	top:22px;
	left:9px;
	background-color: white;
}

.betRow .teamImg2{
	width: 24px;
	height: 24px;
	border-radius: 4px;
	/* customizable*/
	display: inline-block;
	position: absolute;
	top:22px;
	right:9px;
	background-color: white;
}

.betRow .teamImg1 > img, .betRow  .teamImg2 > img{
	width: 18px;
	height:18px;
	margin:3px;
}

.betRow  .teamName1{
	position: absolute;
	top:1px;
	left:8px;
	font-size: 13px;
}

.betRow .teamName2{
	position: absolute;
	top:1px;
	right:8px;
	font-size: 13px;
}
/*BET END*/



.odd{
	height: 30px;
	padding: 2px;
	line-height: 14px;
}

.coeff{
	font-size: 12px;
	border-radius: 2px;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	font-weight: bold;
	width: 25px;
	display: inline-block;

	box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

.coeffHeader{
	font-size: 12px;
	border-radius: 2px;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	font-weight: bold;
	width: 25px;
	display: inline-block;

	box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

.coeff:hover {
		 	/* CSS3 Transform Effect */
  	-webkit-transform: scale(1.1);     /* Safari & Chrome */
  	-moz-transform: scale(1.1);        /* Firefox */
  	-o-transform: scale(1.1);          /* Opera */
}

.basis{
	margin-top:2px; 
	font-size: 11px;
	border-radius: 2px;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	width: 25px;
	display: inline-block;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

.simpleCoeffContainer {
	position: relative;
	top: 10px;
	left: 14px;
}

.simpleHeaderContainer {
	position: relative;
	top: 2px;
	left: 295px;
}

.simpleHeaderWin, .simpleHeaderDraw {
	box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
	border-radius: 2px;
	padding: 1px;
	padding-left: 2px; 
	padding-right: 2px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	float: left;
	border-radius: 3px;
	margin: 5px;
	cursor: default;
}

.simpleHeaderWin {
	width: 151px;
}

.simpleHeaderDraw {
	width: 151px;
}

.simpleCoeffWin, .simpleCoeffDraw {
	box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
	border-radius: 2px;
	padding: 1px;
	padding-left: 2px; 
	padding-right: 2px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	float: left;
	border-radius: 3px;
	margin: 5px;
	cursor: pointer;
}

.simpleCoeffWin {
	width: 151px;
}

.simpleCoeffWin:hover {
	 	/* CSS3 Transform Effect */
  	-webkit-transform: scale(1.1);     /* Safari & Chrome */
  	-moz-transform: scale(1.1);        /* Firefox */
  	-o-transform: scale(1.1);          /* Opera */
}

.simpleCoeffDraw {
	width: 151px;
}

.simpleCoeffDraw:hover {
	 	/* CSS3 Transform Effect */
  	-webkit-transform: scale(1.1);     /* Safari & Chrome */
  	-moz-transform: scale(1.1);        /* Firefox */
  	-o-transform: scale(1.1);          /* Opera */
}

.moreOdds {
	position: absolute;
	top: 39px;
	right: 16px;
	font-style: italic;
}

.lessOdds {
	position: absolute;
	top: 39px;
	right: 11px;
	font-style: italic;
}

.chiliGameStatPoint{
	color: black;
	font-size: 12px !important;
	border-radius: 3px;
	width: 14px;
	height: 14px;
	padding: 4px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	float: left;
	margin-left: 5px;
	font-size: 12px;
	line-height: 16px;
}



.statPointsParticipant1{
	display: inline-block;
	position: absolute;
	left: 5px;
	bottom: 6px;
}


.statPointsParticipant2 {
	display: inline-block;
	position: absolute;
	right: 5px;
	bottom: 6px;
}

/* AUTHORIZED PLAYER MENU HEADER*/
.chiliProfileImg{
	width: 32px;
	height: 32px;
	margin: 8px;
	float: left;
	cursor:default ;
}

.headerTxtContent{
	font-size: 14px;
	border-radius: 2px;
	padding: 3px;
	text-align: center;
	cursor: default;
	font-weight: bold;
	display: inline-block;
}

.headerMenu {
	cursor: pointer;
	right: 0px;
	position: absolute;
	top: 15px;
}

.headerMenuOption{

}

/*.headerMenuItem {
   width:  50px;
   height: 45px;
   display: inline-block;
}

.headerMenuItem > img {
   width: 24px;
   height: 24px;
   float: right;
   margin-right: 10px;
}*/

.headerMenuItem {
	width: 50px;
	height: 45px;
	display: inline-block;
	font-size: 24px;
	text-align: center;
}

.headerMenuDropdown{
	width: 50px;
	top: -10px;
	position: absolute;
	border: none;
	right: 0px;
	z-index: 1000;
	background-color: gray;
}

/*.headerMenuDropdown > .dropdownItem{
	width:  50px;
    height: 45px;
    display: inline-block;
}*/

.headerMenuDropdown > .dropdownItem{
	width: 50px;
	height: 45px;
	display: inline-block;
	font-size: 24px;
	padding-top: 10px;
}

.betCartCountLabel {
	position: absolute;
	top: 3px;
	left: 22px;
	z-index: 5;
	/* background: white; */
	border-radius: 5px;
	padding: 1px 3px;
	line-height: 11px;
	font-size: 14px;
}

.dropdownItem > img{
	height: 24px;
	width: 24px;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}

.headerCompetition{
	font-size: 13px;
	border-radius: 2px;
	padding: 3px;
	text-align: center;
	cursor: default;
	font-weight: bold;
	margin-right: 26px;
	display: inline-block;
	cursor: pointer;
}

/* AUTHORIZED PLAYER MENU HEADER*/

/*BET MODAL*/
.modalCloseBtn{
	top:0px;
	right: 8px;
	position: absolute;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
}

.betchainList{
	margin-top:3px;
}

.removeBet{
	position: relative;
	opacity: 0.7;
	float:right;
	margin-right: 11px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
}




/* USER ACTIVITY*/
.img18{
	width: 18px;
	height: 18px;
	padding: 2px;
	margin: 0px;
	background-color: white;
}

.betItemHeaderLabel{
	padding: 2px 8px !important;
	font-size: 12px !important;
}

.betItemGames{
	background-color:  white;
	border-radius: 4px;
	border: 1px dashed gray;
	margin-top: 6px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.betItemGames tr {
	border-bottom:  1px solid rgb(221, 221, 221);
}

.challangeParticipant {
	width: 36px;
}

.activityGameParticipant {
	font-size: 13px;
	font-style: italic;
}

/*.activityTextHeaderBold{
font-family: 'Orbitron', sans-serif;
font-size: 14px;
font-weight: 800;
text-shadow: 1px 1px white;
color: rgba(56, 53, 53, 0.91);
}

.activityTextHeader{
	font-family: 'Monda', sans-serif;
}*/

.activityTxt h5{
	display:inline-block;
	margin:0px;
}

.statusGreen {
	color: rgb(30, 153, 7);
}

.statusRed {
	color: rgb(211, 1, 1);
}

.statusYellow {
	color:  rgb(223, 170, 3);
}

.statusReturn {
	color: black;
}

.statusTip {
	font-size: 10px;
}

.fontItalic{
	/*font-style: oblique;*/
}

.activityWin {
	border-left: 4px solid rgb(30, 153, 7);
}

.activityLoose {
	border-left: 4px solid rgb(211, 1, 1);
}

.activityWait {
	border-left: 4px solid rgb(223, 170, 3);
}

.activityReturn {
	border-left: 4px solid black;
}

.activityBet{
	border-radius: 5px;
	padding: 1px;
	padding-left: 4px;
	padding-right: 4px;
	border: 2px solid rgb(75, 75, 75);
}

.activityVS{
	border-radius: 5px;
	padding: 1px;
	padding-left: 4px;
	padding-right: 4px;
	border: 2px solid rgb(75, 75, 75);
}

.activityOdd{
  background-color: rgb(209, 209, 209);
}

.activityEven{
  background-color: rgb(233, 233, 233);
}

.activityUserRank {
	border:3px dashed gray !important;
}

.activityBottomActions {
	cursor: pointer;
	height: 25px;
	text-align: center;
}

.activityLeftStats {
	background-color: white;
	height: 80px;
}

.activityStatsBox h4 {
	margin:5px;
	font-style: italic;
}

.activityStatsBox h5 {
	margin:3px;
	font-style: italic;
}


.opponentSearch {
	position: absolute;
	right: 31px;
	top: 14px;
}

.opponentSearch i {
	position: absolute;
	top: 5px;
	right: 10px;
}

.opponentSearch input {
	width: 300px !important;
	padding-left: 10px;
	height:25px !important;
	border: 1px solid gray !important;
}

.opponentSearch input:focus , input:hover {
   outline: none;
}

.activityChallangeOpponent{
	float:left; 
	width:48%;
	margin-bottom:5px;
	border:1px solid rgb(224, 219, 219);
	border-radius: 4px;
	margin-right: 5px;
	position: relative;
	cursor:pointer; 
}
.activityChallangeOpponent small {
	margin-left: 10px;
}

.activityChallangeOpponent:hover{
	background-color: rgb(228, 228, 228);;
}

.activityChallangeMoreOpponents {
	float: left;
	width: 97.2%;
	color:brack; 
	cursor:pointer; 
	height:25px; 
	text-align:center;
	border-radius: 4px;
    border: 1px solid rgb(212, 202, 202);
}
.activityChallangeMoreOpponents:hover{
	background-color: rgb(228, 228, 228);
}

.challengeAmountInput {
   width: 152px !important;
   height: 22px;
   text-align: center !important;
   margin: 6px 8px !important;
   position: absolute !important;
   left: 75px !important;
   top: 15px !important;
   border: 1px solid gray !important;
}

.challengeAmountInput:focus, .challengeAmountInput:hover {
	 outline: none !important;
}
.chooseChallangeOpponent {
	position: relative;	
}

.chooseChallangeOpponent .chooseOpponentOverlay {
	top:0px;
	cursor: pointer;
	position: absolute;	
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
}

.chooseChallangeOpponent:hover .chooseOpponentOverlay {
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
}

.chooseOpponentOverlay {
	width: 50px;
	height: 50px;
}

.oppAvatar {
	width: 50px;
	cursor: default;
}

.eventStatusSpan img{
	width: 14px;
	height: 14px;
}

.activityGameResult{
	background: rgb(228, 228, 228);
	padding: 2px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 4px;
	font-weight: 900;
	font-style: oblique;
	font-size: 11px;
}


/*  BUTTON CLASS */

.widgetBtn, .widgetBtn:active, .widgetBtn:focus{
  width: 80px;
  outline: 0px auto -webkit-focus-ring-color !important;
  font-size: 12px !important;
  font-weight: bold;
  border: 0px solid;
  font-size: 12px !important;
  margin: 5px 0px 5px 0px;
  font-size: 12px !important;
  text-decoration: none !important;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
}

.widgetBtn:disabled{
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}

.widgetBtn:hover:enabled{
	opacity: 1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
}

.league_games {
	position: relative;
	width: 100%;
	height: 25px;
	margin-left: 0px;
	cursor: pointer;
}

.league_label {
	position: absolute;
	height: 23px;
	width: 280px;
	top: 0px;
	font-weight: bold;
}

.league_img {
	position: absolute;
	right: 32px;
	margin-top: 2px;
	width: 20px;
	height: 20px;
}

.cmpGroup {
	margin-top: 2px;
	position: absolute;
	font-size: 20px;
}

.league_text {
	position: absolute;
	right: 58px;
	margin-top: 2px;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
}


@media (min-width: 694px) and (max-width: 749px) {
/*USER VOICE */
.uvOverlay3 {
  min-width: 700px !important;
}

.uvOverlay3 > div{
  width: 710px !important;
  margin: -250px 0px 0px -360px !important;
}
/*USER VOICE */

.chiliGamesTitle .eventTemplatesContainer{
	left: 285px;
}

.chiliGameRow .events {
	left: 5px;
}

.league_img {
	right: 10px;
}

.league_text {
	right: 42px;
}

./*activityLeftStats*/ {
	/*width: 145px;*/
}

.betTableHeader .part2 {
	width: 100px;
}

.betTableHeader .part3 {
	width: 140px;
}

.betGameTable .part2 {
	width: 100px;
}

.betGameTable .part3 {
	width: 80px;
}

.betGameTable .part4 {
	width: 60px;
}

.basis ,.coeff, .coeffHeader {
  width: 27px;
  padding: 3px !important;
  display: inline-block;
}

.simpleCoeffContainer {
	top: 10px;
	left: 5px;
}

.simpleHeaderContainer {
	top: 2px;
	left: 285px;
}

.simpleCoeffWin {
	width: 140px;
	margin-right: 3px;
	margin-left: 3px;
}

.simpleCoeffDraw {
	width: 90px;
	margin-right: 3px;
	margin-left: 3px;
}

.simpleHeaderWin {
	width: 140px;
	margin-right: 3px;
	margin-left: 3px;
}

.simpleHeaderDraw {
	width: 90px;
	margin-right: 3px;
	margin-left: 3px;
}

.moreOdds {
	right: 16px;
}

.lessOdds {
	right: 6px;
}

.chSection .challengeAction{
	top: 39px; 
	left:20px;
} 

.opponentSearch input {
	width: 240px !important;
}

}

@media (min-width: 750px) and (max-width: 799px) {
/*USER VOICE */
.uvOverlay3 {
  min-width: 700px !important;
}

.uvOverlay3 > div{
  width: 710px !important;
  margin: -250px 0px 0px -360px !important;
}
/*USER VOICE */

.chiliGamesTitle .eventTemplatesContainer{
	left: 285px;
}

.chiliGameRow .events {
	left: 5px;
}

.league_img {
	right: 10px;
}

.league_text {
	right: 42px;
}

.betTableHeader .part2 {
	width: 100px;
}

.betTableHeader .part3 {
	width: 140px;
}

.betGameTable .part2 {
	width: 100px;
}

.betGameTable .part3 {
	width: 80px;
}

.betGameTable .part4 {
	width: 60px;
}

.basis ,.coeff,.coeffHeader {
  width: 22px;
}

.basis:hover {
	 	/* CSS3 Transform Effect */
  	-webkit-transform: scale(1.1);     /* Safari & Chrome */
  	-moz-transform: scale(1.1);        /* Firefox */
  	-o-transform: scale(1.1);          /* Opera */
}

.simpleCoeffContainer {
	top: 10px;
	left: 14px;
}

.simpleHeaderContainer {
	top: 2px;
	left: 292px;
}

.simpleCoeffWin {
	width: 135px;
}

.simpleCoeffDraw {
	width: 135px;
}

.simpleHeaderWin {
	width: 135px;
}

.simpleHeaderDraw {
	width: 135px;
}

.moreOdds {
	right: 18px;
}

.lessOdds {
	right: 6px;
}

.chSection .challengeAction{
	top: 39px; 
	left:20px;
} 

}

@media (min-width: 801px) and (max-width: 960px) {
	.basis, .coeff,.coeffHeader {
		width: 39px;
	}

	.simpleCoeffContainer {
		position: relative;
		top: 10px;
		left: 14px;
	}

	.simpleHeaderContainer {
		top: 2px;
		left: 292px;
	}

	.simpleCoeffWin, .simpleCoeffDraw {
		width: 204px;
	}

	.simpleHeaderWin, .simpleHeaderDraw {
		width: 204px;
	}

	.moreOdds {
		right: 16px;
	}

	.lessOdds {
		right: 18px;
	}

	.chSection .challengeAction{
		top: 39px; 
		left:20px;
	} 
}

@media (min-width: 961px) and (max-width: 1200px) {
	.basis, .coeff, .coeffHeader {
		width: 60px;
	}

	.simpleCoeffContainer {
		position: relative;
		top: 10px;
		left: 16px;
	}

	.simpleHeaderContainer {
		top: 2px;
		left: 295px;
	}

	.simpleCoeffWin, .simpleCoeffDraw {
		width: 280px;
	}

	.simpleHeaderWin, .simpleHeaderDraw {
		width: 280px;
	}

	.moreOdds {
		right: 27px;
	}

	.lessOdds {
		right: 26px;
	}

	.chSection .challengeAction{
		top: 39px; 
		left:20px;
	} 
}

.earnExtraCoins {
	opacity: 0.9;
}

.earnExtraCoins:hover{
	opacity: 1.0;
}

.helpodd{
	height: 22px;
	padding: 2px;
	line-height: 14px;
}

.helpcoeff{
	background-color:#e3e3e3;
	font-size: 12px;
	border-radius: 2px;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	font-weight: bold;
	width: 22px;
}

