
::-moz-focus-inner {border:0 !important;}

.chili_dashboard_row{
  max-width: 1200px;
  margin: 0 auto;
}

.chili_widget_header_nav{
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  height:10px;
}

.chili_widget_thumbnail{
  height: 300px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border: 3px solid #DDD !important;
  padding: 0px 10px 0px 10px;
  margin-top: 20px !important;
  background-color: white;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
  -moz-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
  -o-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
  transition: border .25s linear, color .25s linear, background-color .25s linear !important;
  -webkit-backface-visibility: hidden !important;
  position: relative;
}

.chili_widget_thumbnail:hover{
   border: 3px solid rgb(114, 121, 122)  !important;
}

.chili_widget_title{
  margin-bottom: 0px;
}

.chili_widget_size{
  position: absolute;
  top: 7px;
  right: 15px;
  background-color: rgb(231, 228, 228) !important;
  color:rgb(49, 47, 47) !important;
}

.chili_widget_language{
  position: absolute;
  top: 30px;
  right: 15px;
  background-color: rgb(231, 228, 228) !important;
  color:rgb(49, 47, 47) !important;
}

.chili_widget_league_img{
  width: 48px;
  height: 48px;
  margin-right: 5px;
  float: left;
  padding: 5px;
  border: 2px solid rgb(211, 187, 187);
  border-radius: 4px;
}

.chili_widget_league_item{
  background-color: rgb(231, 228, 228) !important;
  color:rgb(49, 47, 47) !important;
  float:left;
  margin-right: 5px;
}
.chili_widget_editbtn{
  position: absolute !important;
  right: 15px;
  bottom: 15px;
}

.chili_widgets_dropdown a:hover{
  background-color: #e6e6e6 !important;
  color: black !important;
}

/*CREATE WIDGET*/
.chili_widget_create_body{
  width:400px;
  margin:0 auto;
  background: #F3F3F3;
  border: 3px solid #DDD !important;
  padding: 0px 10px 15px 10px;
  margin-top: 30px !important;
}


/*CREATE WIDGET END*/

/* CUSTOM TABS COPY*/
/***
Custom tabs
***/
.tab-content {
  padding: 0px;  
  overflow: hidden;
}

.tab-content > .tab-pane{
  display: block !important;
  min-height: 600px;
  background-color: white;
  position: relative;
}

.tabbable-custom { 
  -webkit-border-radius: 0; 
     -moz-border-radius: 0; 
          border-radius: 0; 
   margin-bottom: 15px;       
}

.tabbable-custom > .nav-tabs { 
  border: none; 
  margin: 0px;
}

.tabbable-custom  .tab-content { 
   background-color: #fff;
   border: 1px solid #ddd;  
   -webkit-border-radius: 0; 
   -moz-border-radius: 0; 
   border-radius: 0; 
   padding: 10px;
}

.tabbable-custom .nav-tabs > li { 
  margin-right: 2px; 
  border-top: 2px solid transparent; 
}

.tabbable-custom .nav-tabs > li > a { 
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px;
   border-radius: 2px; 
   margin-right: 0; 
   padding: 5px 10px; 
   width: 150px;
   color: #494448;
 }

.tabbable-custom .nav-tabs > li > a:hover { 
  background: none;
  border-color:transparent;
}

.chili_custom_active_tab { 
  border-top: 2px solid #F13232 !important; 
  margin-top: 0 !important; 
  position: relative !important; 
  color: #494448;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

.chili_custom_active_tab > a  { 
  border-top: none !important; 
  font-weight: 400 !important; 
}

.chiliWidgetCreateValidation{
  margin-top: -8px !important;
  margin-left: 0px !important;
  color: red;
}

.chili_inline_block{
  display: inline-block;
}

.chiliRemoveIcon{
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
}

/*FOR OVERWRITING HOW TO INTEGRATE POPUP SIZE*/
.modal{
  position: fixed !important;
  top: 10% !important;
  left: 12% !important;
  z-index: 1050 !important;
  width: 76% !important;
  margin-left: 0px !important;
  background-color: #ffffff !important;
  border: 1px solid #999 !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  background-clip: padding-box !important;
  outline: none !important;
}

.modal-body{
  max-height: 600px !important; 
}

.modal-body > hr, h3, h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.chiliExplainTag{
  border: 1px solid rgb(248, 126, 126);
  margin-right: 10px;
  margin-left: 10px;
  padding: 3px;
}

.widgetBadge {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(255, 255, 255);
  color: #494448;
  border: 1px solid #B49B9B;
  cursor: pointer;
}

.widgetUpdateDanger{
  color: red;
}

