
.bg-div {
	background: url("/media/modules/m_site/assets/img/1.jpg") no-repeat center center fixed; 
	position: absolute;
	z-index:-1;
	top:0px;
	left:0px;
	background-size: cover;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  opacity:0.4;
	  width:100%;
	  height:100%;
}


.chili_contact{
	color: #666;
	text-align: center !important;
	padding-bottom: 0px;
}

.chili_social{
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	text-align: center !important;
	padding-bottom: 10px;
	clear:both;
}
.social {
	min-height: 37px;
	min-width: 40px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:10px;
}
.twitter {
	background: url(../img/chili_twitter.png) no-repeat;
	background-position-y: -37px;
}
.twitter:hover{
background-position-y: -37px;
}
.facebook {
	background: url(../img/chili_facebook.png) no-repeat;
	background-position-y: -37px;
}
.facebook:hover{
	background-position-y: -37px;
}
.google{
	background: url(../img/chili_google.png) no-repeat;
}
.google:hover{
	background-position-y: -37px;
}

.about-box {
    min-width : 280px !important;
}

.integration-text {
	font-size: 44px; font-weight:900;
}


  .chili_phone {
  	display: block;
  }

  .chili_langs{
	padding:0px;
	margin-top:0px;
	min-width: 40px !important;
	width: 95px;
	border:none;
}

.dropdown-menu {
	background-color: black !important;
	margin: -16px 0 0 !important;
	padding: 0px 0 !important;
	border: none !important;
	width:none !important;
	margin:-10px !important;
}

.dropdown-menu > li {
	padding:0px;
	margin:0px;
}

.dropdown-menu > li > a {
	line-height: 1 !important;
	border: 1px solid #FF2D05 !important;
	color : white !important;
	padding:0px !important;
	font-size:12px !important;
}

.dropdown-menu > li > a:hover {
	color : orange !important;
}

.chili_langs > li > a{
	background-color: black !important;
	font-size: 12px !important;
	font-weight: 400;
	border: 1px solid #2FBFBF;
	color: #2FBFBF;
	padding: 6px 10px !important;
	margin: 9px 13px 5px !important;
	line-height: 14px;
	text-decoration: none !important;
	border-radius: 3px;
	transition: all 0.25s linear 0s;
	-moz-user-select: none;
}

.chili_langs > li > a:hover{
	background-color: rgba(161, 226, 234, 1);
    outline: 0;
}

	.carusel-height {
		 min-height:250px !important;
	}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
	.about-box {
	    min-width : 450px !important;
	}
	.carusel-height {
		 min-height:270px !important;
	}

}

@media screen and (min-width: 767px) and (max-width: 1000px) {
	.about-box {
	    min-width : 360px !important;
	}
	.carusel-height {
		 min-height:300px !important;
	}	

}


/* Landscape phone to portrait tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {
.about-box {
    min-width : 350px !important;
}

	.carusel-height {
		 min-height:300px !important;
	}

.integration-text {
	font-size: 36px; font-weight:900;
}

.chili_mail {
	position: relative;
	margin-right: 60px;
  }

}
/* Landscape phones and down */
@media screen and (max-width: 480px) {

  .chili_mail:after {
    display: table;
    line-height: 0;
    content: "";
  }
  	.carusel-height {
		 min-height:400px !important;
	}
}

