.chili_home_link{
	margin:0 auto;
	width:400px;
	text-align: center !important;
}
.chili_home_link > a{
	color:#777 !important;
	text-decoration: none !important;
	margin:0 auto !important;
}
.chili_validation{
	color:#ff6661 !important;
	padding-top: 0px !important;
	margin-top: -8px;
	display: inline-table;
}