.chili_forgot_body{
width:400px;
margin:0 auto;
background: #F3F3F3;
border: 3px solid #DDD !important;
padding: 0px 10px 15px 10px;
margin-top: 30px !important;
min-height: 180px; 
}
.chili_email_input{
  width: 376px;
  border: 1px solid #bdc3c7 !important;
  color: #34495e !important;
  font-family: 'Lato', Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  padding: 8px 10px !important;
  margin:5px 0px 5px 0px !important;
  height: 27px !important;
}

.chili_home_link{
	/*background: white !important;*/
	margin:0 auto;
	width:400px;
	text-align: center !important;
}
.chili_home_link > a{
	color:#777 !important;
	text-decoration: none !important;
	margin:0 auto !important;
}
.chili_validation{
	color:#ff6661 !important;
	padding-top: 0px !important;
	margin-top: -8px;
	display: inline-table;
}
.chili_forgot_password{
	padding: 10px 10px 10px 10px;
	height: 80px !important;
	margin-top: 40px !important;
	text-align: center !important;
}

.resetBtn{
	position: absolute;
	right: 0;
	top: 0;
}
@media screen and (min-width: 980px) and (max-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 979px) {

}

@media screen and (min-width: 481px) and (max-width: 767px){

}

@media screen and (max-width: 480px) {
body {
	font-size:90% !important;
}
.chili_forgot_body{
	width:90% !important;
}
.chili_email_input{
  width: 94% !important;
}
}