/*CHILI ACCOUNT HEADER START*/
body{

  font-size:14px !important;
  padding: 0px !important;
  margin:0px !important;
  background-color:#f5f5f5;
  min-width: 1100px;
}

.chili_navbar {
   min-width: 1000px;
   position: static !important;
   margin-bottom: 0px;
}

.chili_navbar_inner{
  height: 50px !important;
  background-image: linear-gradient(to bottom, #414141 0%, #323232 100%) !important;
  background-repeat: repeat-x;
}
.chili_header{
  width:100%;
  margin: 0 auto !important;
}
.chili_right_menu{
  float: right;
  width: 50%;
}
.chili_left_menu{
  float: left;
  width: 50%;
}

/*chili_left_menu items*/

.chili_logo{
  float: left;
  font-size: 1.5em;
  color: #D30404;
  margin-top: 15px;
  width: 140px;
  text-align: center;
}

.chili_app_dropdown{
  position: relative;
  padding-left: 10px !important;
  padding-right: 10px;
  float: left;
  width: 102px;
  height: 50px;
  border-left: 1px solid #4A4A4A !important;
  border-right: 1px solid #292929 !important;
}
.chili_app_dropdown > a {
  display: block;
  width: 102px;
  height: 50px;
}
.chili_app_dropdown > a, .chili_menu_item {
  text-decoration: none !important;
}
.chili_app_dropdown:hover{
  background-color: #7E7E7E !important;
}
.chili_app_dropdown > .dropdown-menu{
  top:96%;
  text-align: left;
  min-width: 159px !important;
  font-size: 1em;
  border-radius: 0px !important;
}
.chili_app_dropdown > .dropdown-menu > li > a{
  padding: 2px 9px !important;
  text-align: left !important;
  margin: 0 6px;
  font-size: 1em !important;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.chili_app_dropdown > .dropdown-menu > li :hover {
  background-color: #414141 !important;
  background-image: -moz-linear-gradient(top, #414141, #414141) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#414141)) !important;
  background-image: -webkit-linear-gradient(top, #414141, #414141) !important;
  background-image: -o-linear-gradient(top, #414141, #414141) !important;
  background-image: linear-gradient(to bottom, #414141, #414141) !important;
  background-repeat: repeat-x !important;
}
.chili_app_title{
  display: inline-block !important;
  margin-top: 1em;
  color:white !important;
  font-size: 1em !important;
}
.chili_app_caret{
  display: inline-block !important;
  margin-top: 24px;
  border-top-color: #DDD !important;
  border-bottom-color: #DDD !important;
  display: inline-block;
  vertical-align: top;
  border-top: 5px solid #000000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/*chili_right_menu item*/

.chili_right_menu > div {
  float:right;
}
.chili_menu_item{
  float: left;
  padding-right: 10px;
  height: 50px;
  text-align: center !important;
  border-left: 1px solid #4A4A4A !important;
  border-right: 1px solid #292929 !important;
}
.chili_menu_item > a > span> img {
  text-align: center !important;
}
.chili_menu_left_item{
  float: left;
  width: 0px;
  height: 50px;
  border-right: 1px solid #292929 !important;
}
.chili_menu_right_item{
  float: left;
  width: 0px;
  height:50px;
  border-left: 1px solid #4A4A4A !important;
}
.chili_caret{
  margin-top: 20px !important;
  margin-right: 7px !important;
  border-top-color: #DDD !important;
  border-bottom-color: #DDD !important;
  display: inline-block;
  vertical-align: top;
  border-top: 5px solid #000000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.chili_title{
  display: inline-block;
  color:white !important;
}
.chili_account_title{
  display: inline-block;
  color:white !important;
  margin-left: -6px;
}

.chili_menu_account_item{
  position: relative;
  float: left;
  height: 50px;
  border-left: 1px solid #4A4A4A !important;
  border-right: 1px solid #292929 !important;
}

.chili_menu_account_item  .dropdown-toggle{
  text-decoration: none !important;
  height: 50px !important;
}

.chili_menu_account_item  .dropdown-toggle:hover {
    background-color: #7E7E7E !important;
 }

.chili_dropdown{
  right:-1px;
  left: auto !important;
  top: 96% !important;
  text-align: left;
  min-width: 144px !important;
  border-radius: 0px !important;
}

.chili_menu_item > a {
  text-decoration: none !important;
  display: block;
  height: 50px; 
}

.chili_menu_account_item > a {
  text-decoration: none !important;
  display: block;
  height: 50px; 
}
.chili_dropdown > li :hover{
  background-color: #414141 !important;
  background-image: -moz-linear-gradient(top, #414141, #414141) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#414141)) !important;
  background-image: -webkit-linear-gradient(top, #414141, #414141) !important;
  background-image: -o-linear-gradient(top, #414141, #414141) !important;
  background-image: linear-gradient(to bottom, #414141, #414141) !important;
  background-repeat: repeat-x !important;
}
.chili_dropdown > li > a{
  padding: 2px 9px !important;
  text-align: left !important;
  margin: 0 6px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.chili_menu_item:hover{
  background-color: #7E7E7E !important;
}

/* Portrait tablet to landscape and desktop */
@media screen  and (max-width: 979px) {
.chili_title,.chili_account_title{
  display: none;
}

.chili_navbar_inner {
  padding: 0px !important;
}

}

/*CHILI ACCOUNT HEADER END*/