/*Cufon CSS*/
.cufon-active .pontus{
	font-size: 1em;
}
.cufon-loading  {
	visibility: hidden !important;
}
.fz_validation{
	color:#ff6661 !important;
	margin-left: -15em;
}

.fz_header{
	background: #EAEAEA !important;
	color: #777 !important;
	position: fixed !important;
	border-bottom: 5px solid #DDD !important;	
}

.fz_header_padding{
	padding-left: 15% !important;
	padding-right: 15% !important;
}

.fz_logo{
	font-size: 1.7em !important;
	height: 45px !important;
	float:left;
	margin-top: 25px !important;
}

.fz_logo > a {
	text-decoration: none !important;
	color:rgb(111, 106, 106);
}

.fz_nav{
	margin-top:19px !important;
	font-size: 1.5em;
	float:left;
}

.fz_nav > ul {
	margin: 0px;
	padding: 0px;
}

.fz_nav > ul > li {
	display: inline;
	margin: 0px;
	padding: :0px;
	margin-left: 10px !important;
	cursor: pointer;
}

.fz_nav > ul > li > a{
	color:#777 !important;
}

.fz_nav > ul > li > a:hover {
	border-bottom: 0.15em solid #3dd0ac;
}

.fz_menu{
	display: none;	
}

.fz_btn_group{
	float: left;
	margin: 0px;
	margin-top: 19px !important;
	margin-left: 20px;
} 

.fz_login{
	background-color: #2fbfbf;
	width: 70px;
	font-size: 1em !important;
	border: none;
	color: #ffffff !important;
	padding: 9px 12px 10px;
	line-height: 15px;
	text-decoration: none !important;
	border-radius: 6px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
	-webkit-backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.fz_signup{
	background-color: #ff6661;
	width: 70px;
	font-size: 1em !important;
	border: none;
	color: #ffffff !important;
	padding: 9px 12px 10px;
	line-height: 15px;
	text-decoration: none !important;
	border-radius: 6px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
	-webkit-backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}
/*Header CSS end*/


/*Home CSS start*/
.fz_home{
	margin: 0px;
	background: #00C69D;
	min-height: 200px;
}   
.fz_home_content{
	max-width: 1100px;
	margin: -0.0625em auto 0 auto;
	padding: 5em 0 0 0;
}
.fz_home_header{
	text-align: center;
	color: #fff;
	min-height: 1em;
}   
.fz_home_img{
	margin-top: 15px;
	position: relative !important; 
	float: none;
	display: block;
	width: 86%;
	margin: 0 auto;
}

.fz_img{
	width: 100%;
	max-width: 100%;
}

.fz_request_demo {
	text-align: center;
	padding-top: 90px;
}
.fz_request_button{
	background-color: #ff6661;
	width: 14%;
	text-align: center;
	border: none;
	color: #ffffff;
	padding: 9px 12px 10px;
	line-height: 22px;
	text-decoration: none;
	border-radius: 6px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
	-webkit-backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-size: 17px;
	line-height: 20px;
	padding: 12px 18px 13px;
}

.fz_request_input {
  width: 25%;
  border: 2px solid #bdc3c7 !important;
  color: #34495e !important;
  font-family: 'Lato', Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  padding: 8px 12px !important;
  margin:0px 0px 0px 0px !important;
  height: 27px !important;
  -webkit-appearance: none !important;
  border-radius: 6px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
  -moz-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
  -o-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
  transition: border .25s linear, color .25s linear, background-color .25s linear !important;
  -webkit-backface-visibility: hidden !important;
}

/*Home CSS end*/

/*Product CSS start*/
.fz_product{
	margin-top:100px;
	background: #F3F3F3;
	padding-bottom: 100px !important;
}

.fz_description{
	margin-left:22%;
	margin-right:22%;
	clear:both;
}

.fz_description_hr{
	padding-top: 2px;
	background: #16ab84;
}

.fz_description_image {
	width:40% !important;
	width: 300px;
	height:300px;
	text-align:center;
	float:left;
}

.fz_description_content{
	max-width: 600px;
	width:60% !important;
	padding-top: 30px;
	color: #666;
	float:left;
}

.fz_description_content h3 {
	margin-left:20px;
	margin-right:20px;
	font-size: 2em !important; 
	color:black;
}

.fz_description_content p {
	margin-left:20px;
	margin-right:20px;
	font-size:1.3em !important; 
}

/*CONTACT PART*/

.fz_contact{
	background: #F3F3F3;
	color: #666;
	text-align: center !important;
	padding-bottom: 50px;
}
.fz_contact_h1{
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	font-size: 2em !important;
}
.fz_mail{
	opacity: 0.6;
	padding-right: 20px;
	margin-left:-22px;
}
.fz_social{
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	padding-top: 17px;
	text-align: center !important;
	padding-bottom: 10px;
}
.social {
	min-height: 37px;
	min-width: 40px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.twitter {
	background: url(../img/fz_twitter.png) no-repeat;
}
.twitter:hover{
background-position-y: -37px;
}
.facebook {
	background: url(../img/fz_facebook.png) no-repeat;
}
.facebook:hover{
	background-position-y: -37px;
}
.google{
	background: url(../img/fz_google.png) no-repeat;
}
.google:hover{
	background-position-y: -37px;
}
.fz_mail_phone{
	margin-left: auto;
	margin-right: auto;
	font-size:1.1em !important;
}
.fz_hr{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding-top: 2px;
	background: #00C69D;
	margin-bottom: 10px !important;
}
.fz_footer{
	background: rgb(90, 78, 78);
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align:center !important;
}
.fz_footer_text{
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
	text-shadow: 0 0 1px rgba(51,51,51,0.2);
	font-family: 'Raleway', sans-serif;
}
.image164{
	width: 164px;
	height: 164px;
	text-align: center;
}

.imgContainer{
	min-height: 200px;
	text-align: center;
	padding: 36px;
	display: inline-block;
}

.fz_team{
	background: #00C69D;
	color: #666;
	text-align: center !important;
	padding-bottom: 50px !important;
	padding-top: 50px !important;
}
.fz_image_name{
	font-size: 2em !important;
	color: white !important;
}


/* Large desktop */
@media screen and (min-width: 1201px) {

body{font-size:100% !important;}


}

/*Default desktop*/
@media screen and (min-width: 980px) and (max-width: 1200px) {

body {
	font-size:100% !important;
}

/*Request section*/

.fz_request_button{
	width: 20%;
}

.fz_request_input {
  width: 35%;
}


/*Product CSS start*/
.fz_description{
	margin-left:10%;
	margin-right:10%;
	clear:both;
}

}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {

body{font-size:100% !important;}

/*Header CSS start*/
.fz_header_padding{
	padding-left: 3% !important;
	padding-right: 3% !important;
}

/*Request section*/
.fz_request_button{
	width: 30%;
}

.fz_request_input {
  width: 35%;
}

/*Team CSS*/
.image164{
	width: 128px;
	height: 128px;
}

.imgContainer{
	padding: 15px;
}

/*Product CSS start*/
.fz_description{
	margin-left:5%;
	margin-right:5%;
	clear:both;
}

.fz_description_image {
	width:35% !important;
	width: 200px;
	height:200px;
	float:left;
}

.fz_description_content{
	max-width: 600px;
	width:65% !important;
	padding-top: 30px;
	color: #666;
	float:left;
}

.fz_description_content h3 {
	margin-left:20px;
	margin-right:20px;
	font-size: 1.8em !important; 
	color:black;
}

.fz_description_content p {
	margin-left:10px;
	margin-right:10px;
	font-size:1.1em !important; 
}

}


/* Landscape phone to portrait tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {

body{
	font-size:100% !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.fz_validation{
	margin-left: -9em;
}
.fz_header_padding {
	padding-left: 4% !important;
	padding-right: 4% !important;
}

.fz_logo {
	font-size: 1.3em !important;
	height: 35px !important;
	float:left;
	margin-top: 15px !important;
}

.fz_nav{
	font-size: 1.3em;
}

.fz_nav > ul{
	margin-top: -8px;
}

.fz_btn_group{
	margin-top: 11px !important;
} 

.fz_login{
	font-size:0.85em !important;
	padding: 7px 10px 8px;
}


.fz_signup{
	font-size:0.85em !important;
	padding: 7px 10px 8px;
}

/*Home CSS start*/
.fz_home_content{
	margin: -0.0625em auto 0 auto;
	padding: 3.5em 0 0 0;
}

/*Request section*/

.fz_request_button{
	width: 26%;
	padding: 9px 12px 10px;
	line-height: 15px;
	font-size: 0.85em;
	line-height: 15px;
	padding: 9px 12px 10px;
}

.fz_request_input {
  width: 45%;
  font-size: 15px !important;
  height: 15px !important;
}
/*Team CSS*/
.image164{
	width: 128px;
	height: 128px;
}
.imgContainer{
	padding: 0px;
	width: 40% !important;
}
.fz_team{
	padding-bottom: 0px !important;
	padding-top: 25px !important;
}
/*Product CSS start*/
.fz_description{
	margin-left:5%;
	margin-right:5%;
	clear:both;
}


.fz_description_image {
	width:35% !important;
	width: 200px;
	height:200px;
	float:left;
}

.fz_description_content{
	max-width: 600px;
	width:65% !important;
	padding-top: 30px;
	color: #666;
	float:left;
}

.fz_description_content h3 {
	margin-left:20px;
	margin-right:20px;
	font-size: 1.8em !important; 
	color:black;
}

.fz_description_content p {
	margin-left:10px;
	margin-right:10px;
	font-size:1.1em !important; 
}

}
/* Landscape phones and down */
@media screen and (max-width: 480px) {

body{
	font-size:100% !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.fz_validation{
	margin-left: -3em !important;
}
.fz_header_padding{
	padding-left: 6% !important;
	padding-right: 6% !important;
}

.fz_logo{
	font-size: 1.3em !important;
	height: 35px !important;
	float:left;
	margin-top: 15px !important;
}

.fz_nav{
	display:none;
}

.fz_btn_group{
	margin-top: 11px !important;
} 

.fz_login{
	font-size:0.85em !important;
	padding: 5px 7px 6px;
}


.fz_signup{
	font-size:0.85em !important;
	padding: 5px 7px 6px;
}

/*Home CSS start*/
.fz_home_content{
	margin: -0.0625em auto 0 auto;
	padding: 3.5em 0 0 0;
}

/*Request section*/

.fz_request_button{
	width: 150px;
	padding: 9px 12px 10px;
	line-height: 15px;
	font-size: 0.85em;
	line-height: 15px;
	padding: 9px 12px 10px;
	margin: 0 auto;
	margin-top:10px;
}

.fz_request_input {
  width: 80%;
  font-size: 15px !important;
  height: 15px !important;
  margin: 0 auto;
}

.image164{
	width: 100px;
	height: 100px;
}
.imgContainer{
	padding: 0px;
	width: 40% !important;
}
.fz_team{
	min-height: 100px !important;
	padding-bottom: 0px !important;
	padding-top: 25px !important;
}
/*Product CSS start*/

.fz_description{
	margin-left:5%;
	margin-right:5%;
	clear:both;
}

.fz_description_image {
	width:90% !important;
	width: 200px;
	height:200px;
	float:left;
}

.fz_description_content{
	max-width: 400px;
	width:100% !important;
	padding-top: 30px;
	color: #666;
	float:right;
}

.fz_description_content h3 {
	margin-left:20px;
	margin-right:20px;
	font-size: 1.5em !important; 
	color:black;
}

.fz_description_content p {
	margin-left:10px;
	margin-right:10px;
	font-size:1.1em !important; 
}

}

