
.bg-div {
	background: url("/media/modules/m_site/assets/img/1.jpg") no-repeat center center fixed; 
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index:-1;
	top:0px;
	left:0px;
	background-size: cover;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
}

  body{
  }

  .chili_row {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto !important;
	padding: 0px !important;
    *zoom: 1;
  }
  .chili_row:before,
  .chili_row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .chili_row:after {
    clear: both;
  }


/*HEADER */

.chili_header{
	/*background: #504B4B !important;*/
	/*background-image: url("../img/rubber_grip.png");*/
	position: fixed !important;
	border-bottom: 6px solid rgba(203, 236, 240, 1); !important;
	background-color: #fff;
	height:50px;
}


.chili_logo {
	float:left;
	height: 45px !important;
	margin-top: 0px !important;
}

.chili_logo > a {
	margin: 0 auto;
	font: 1.7em 'PT Sans', sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none !important;
}

.chili_logo > img{
	width: 106px;
	margin-left: 28px;
}


.chili_nav{
	margin-top:19px !important;
	font-size: 1.5em;
	float:left;
}

.chili_nav > ul {
	margin: 0px;
	padding: 0px;
}

.ch_active > a{
	background-color: rgba(161, 226, 234, 1);
	padding: 10px;
	padding-top:25px;
	padding-bottom:9px;
}

.chili_nav > ul > li {
	display: inline;
	margin:  0px;
	padding: 0px;
	margin-left: 10px !important;
	cursor: pointer;
}

.chili_nav > ul > li > a{
	color:#666 !important;
  	font-size: 0.7em;
  	font-family: 'Lato', sans-serif;
  	/*text-transform: uppercase;*/
  	font-weight: 600;
  	font-style: normal;
}

.chili_nav > ul > li > a:hover {
	text-decoration: none;
}

.chili_menu{
	display: none;	
}

.ch_btn {
	background-color: #FFF;
	font-size: 1em !important;
	font-weight: 400;
	border: 1px solid #2FBFBF;
	color: #2FBFBF;
	padding: 6px 12px !important;
	margin: 9px 5px 5px !important;
	line-height: 15px;
	text-decoration: none !important;
	border-radius: 3px;
	transition: all 0.25s linear 0s;
	-moz-user-select: none;
}

.ch_btn:hover,
.ch_btn:focus {
    background-color: rgba(161, 226, 234, 1);
    color: white;
    outline: 0;
}

.ch_huge {
	border-radius: 15px;
	line-height: 35px;
	padding: 5px 24px !important;
	font-size: 2em !important;
}

.ch_btn_group {
	font-size: 1em !important;
	margin-bottom: 8px;
	padding:0px;
}

.chili_btn_group{
	float: left;
	margin: 0px;
	margin-top: 11px !important;
	margin-left: 20px;
} 

.chili_langs{
	padding:0px;
	margin-top:5px;
	min-width: 50px !important;
	width: 95px;
	border:none;
}
.chili_langs > li > a{
	background-color: #FFF;
	font-size: 1em !important;
	font-weight: 400;
	border: 1px solid #2FBFBF;
	color: #2FBFBF;
	padding: 6px 12px !important;
	margin: 9px 5px 5px !important;
	line-height: 15px;
	text-decoration: none !important;
	border-radius: 3px;
	transition: all 0.25s linear 0s;
	-moz-user-select: none;
}

.chili_langs > li > a:hover{
	background-color: rgba(161, 226, 234, 1);
    color: white;
    outline: 0;
}

/* SECTIONS*/

/*SECTION INTRO */

.sectionIntro{
	position: relative;
	color: #666;
	background-color: white; /*rgba(248, 248, 248, 1);*/
	text-align: center !important;
	padding: 0px 0px 0px 0px;
	margin-top:50px;
	padding-top:50px;
	*zoom: 1;
}

.sectionIntroText{
	position: relative;
}

.introImgs > img {
	position: absolute;
	top:50px;
	left: 50px;
	opacity: 0.1 !important;
    filter: alpha(opacity=10) !important; /* For IE8 and earlier */
    z-index:0;
}

.sectionIntroText > h1 {
  font-family: 'Lato', sans-serif;
}

.sectionIntroText > h2, h3 {
  	font-family: 'Lato', sans-serif;
 }

.sectionIntro2 {
	position: relative;
}

.subIntroSection2{
	position: relative;
	float:right;
	padding-right: 50px;
	padding-bottom: 80px;
	padding-top: 50px;
}

/*SECTION TEAMS */
.sectionReview{
	position: relative;
	/*background-color: rgba(248, 248, 248, 1);*/
	/*background-image: url("../img/body.png");*/
	background-color: #E3E3E3;
	text-align:center;
	padding-top: 100px;
	padding-bottom: 5	0px;
	overflow:auto;
}

.reviewContainer{
/*	margin:0 auto;
	width: 800px;*/
	margin-left: 20px
}

.reviewItem {
	background-color: white;
	float:left;
	margin-left:40px;
	margin-bottom: 25px;
	border: 1px dashed rgba(161, 226, 234, 1);
	border-radius: 5px;
	width: 300px;
	font-size: 1em;
	font-style: italic;
	color:gray;
	padding: 20px;
}

.reviewImg > img{
	opacity: 0.05 !important;
    filter: alpha(opacity=10) !important; /* For IE8 and earlier */
	width: 250px !important;
	height: 250px !important;
/*	float:left;
	margin-left: 100px;*/
	position: relative;
	float:right;
	padding-right: 90px;
}

.sectionFutures{
	background-color:white;
	padding-top: 50px;
	*zoom: 1;
	overflow: auto;
	padding-bottom: 50px;
}

.future {
	width:500px;
	float:left;
}

.future_header {
	color: rgba(161, 226, 234, 1);
	font-size: 1.5em;
	font-weight: 800;
	padding:50px 0px 0px 50px;
}

.future_body {
	padding:10px 0px 0px 50px;
	font-size: 1em;
	font-weight: 400;
	color: gray;
}

.sectionHow{
	position: relative;
	background-color:white;
	padding: 50px;
	padding-bottom: 71px;
	*zoom: 1;
	height: 355px;
	background-image: url("../img/table-repeater.jpg");
}

.how {
	position: absolute;
	left: 700px;
	top: 50px;
}

.how_header {
	color: rgba(161, 226, 234, 1);
	font-size: 1.5em;
	font-weight: 800;
	padding:50px 0px 0px 50px;
}

.how_body {
	max-width:700px;
	padding:10px 0px 0px 50px;
	font-size: 1em;
	font-weight: 400;
	color: white;
	float:left;
}

.laptop {
	position: absolute;
	left: 72px;
	bottom: 50px;
	background: url("../img/laptop.jpg") no-repeat scroll 0% 0% transparent;
	width: 525px;
	height: 296px;
	bottom: 45px;
}

/*CONTACT PART*/

.sectionContact{
	margin-top: 50px;
}

.sectionContact h2{
  font-size: 3.1em;
  line-height: 1.0em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #666;
  text-align: center;
}

.chili_contact{
	color: #666;
	text-align: center !important;
	padding-bottom: 50px;
}

.chili_mail{
	position: relative;
	margin-right:60px;
}

.chili_mail > img{
	  /* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  	/* IE 5-7 */
  	filter: alpha(opacity= 60);
  	/* Netscape */
  	-moz-opacity:0.6;
  	/* Safari 1.x */
  	-khtml-opacity: 0.6;
  	/* Good browsers */
	opacity: 0.6;
	margin-top: -5px;
}

.chili_phone{
	position: relative;
}

.chili_phone > img{
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  	/* IE 5-7 */
  	filter: alpha(opacity= 60);
  	/* Netscape */
  	-moz-opacity:0.6;
  	/* Safari 1.x */
  	-khtml-opacity: 0.6;
  	/* Good browsers */
	opacity: 0.6;
	opacity: 0.6;
}

.chili_social{
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 17px;
	text-align: center !important;
	padding-bottom: 10px;
	clear:both;
}
.social {
	min-height: 37px;
	min-width: 40px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.twitter {
	background: url(../img/chili_twitter.png) no-repeat;
}
.twitter:hover{
background-position-y: -37px;
}
.facebook {
	background: url(../img/chili_facebook.png) no-repeat;
}
.facebook:hover{
	background-position-y: -37px;
}
.google{
	background: url(../img/chili_google.png) no-repeat;
}
.google:hover{
	background-position-y: -37px;
}

.chili_mail_phone{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	font-size:1.0em !important;
	font-family: 'Lato', sans-serif;
}

.chili_footer{
	padding-bottom: 10px;
	padding-top: 10px;
	text-align:center !important;
}

.chili_footer h5{
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
	text-shadow: 0 0 1px rgba(51,51,51,0.2);
	font-family: 'Lato', sans-serif;
}

/* Large desktop */
@media screen and (min-width: 1201px) {
	
}

/*Default desktop*/
@media screen and (min-width: 980px) and (max-width: 1200px) {
.sectionIntroText > h1 {
  font-size: 3.0em;
}

.sectionWhy h2 , .sectionIntroText > h2 ,.sectionContact h2{
	font-size: 2.5em;
}

.boostContent > h3{
	font-size: 1.2em;
}	

}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
/*Header CSS start*/
.chili_row{
    width: 90% !important;
   	margin: 0 auto !important;
	padding: 0px !important;
}

.sectionIntroText > h1 {
  font-size: 2.8em;
}

.sectionWhy h2 , .sectionIntroText > h2 ,.sectionContact h2{
	font-size: 2.5em;
}

.boostContent > h3{
	font-size: 1.5em;
}

}


/* Landscape phone to portrait tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {
.chili_row{
    width: 88% !important;
   	margin: 0 auto !important;
	padding: 0px !important;
}

.chili_logo {
	height: 35px !important;
	margin-top: 11px !important;
}

.chili_logo > a {
	font: 1.3em 'PT Sans', sans-serif;
	font-weight: bold;
}

.chili_nav{
	float: left;
	font-size: 1.3em;
}

.chili_nav > ul{
	margin-top: -8px;
}

.chili_btn_group{
	margin-top: 3px !important;
} 

.sectionIntro{
	font-size: 12px !important;
}

.sectionIntroText{
  width: 100% !important;
  text-align: center;
  float: none;
  clear: both;
}

.sectionIntroVideo{
  width: 100% !important;
  float: none;
  clear: both;
}

.boostColumn{
  width: 100% !important;
  float: none;
  clear: both;
  height: 200px;
}

.sectionIntroText > h1 {
  font-size: 3.0em ;
}

.sectionWhy h2 , .sectionIntroText > h2 ,.sectionContact h2{
	font-size: 2.5em;
}

.boostContent > h3{
	font-size: 1.5em;
}

  .chili_mail {
	position: relative;
	margin-right: 60px;
  }

}
/* Landscape phones and down */
@media screen and (max-width: 480px) {

body{
	font-size:100% !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.chili_row{
    width: 88% !important;
   	margin: 0px auto !important;
	padding: 0px !important;
}

.chili_logo{
	height: 35px !important;
	margin-top: 11px !important;
}

.chili_logo > a {
	font: 1.3em 'PT Sans', sans-serif;
	font-weight: bold;
}

.chili_logo > img{
	width: 65px;
	margin-left: 3px;
}

.chili_nav{
	display:none;
}

.chili_btn_group{
	margin-top: 3px !important;
} 

.sectionIntroText{
  width: 100% !important;
  text-align: center;
  float: none;
  clear: both;
}

.sectionIntroVideo{
  width: 100% !important;
  float: none;
  clear: both;
}


.sectionIntroText > h1 {
  font-size: 2.2em ;
}

.sectionWhy h2 , .sectionIntroText > h2 ,.sectionContact h2{
	font-size: 1.8em;
}

.boostColumn {
	width: 100%;
	float:none;
	clear: both;
}

  .chili_mail:after {
    display: table;
    line-height: 0;
    content: "";
  }

  .chili_phone {
  	display: block;
  }

}

