
.register-input-fields input[type=text]
{
  display : block;
  margin-bottom : 9px;
  height : 40px;
}

.register-input-fields input[type=email]
{
  display : block;
  margin-bottom : 9px;
  height : 40px;
}

.register-input-fields input[type=password]
{
  display : block;
  margin-bottom : 9px;
  height : 40px;
}

.football
{
    /*background:url(../assets/site/football-field.jpg) no-repeat center center fixed;*/
    background-size: 100%;
    min-width: 1024px;
}

.white-font
{
  color: #aaaaaa;
}