.chili_request_body{
	width:400px;
	margin:0 auto;
	background: #F3F3F3;
	border: 3px solid #DDD !important;
	padding: 0px 10px 30px 10px;
	margin-top: 30px !important;
}

.chili_domain_input{
  width: 332px;
  border: 1px solid #bdc3c7 !important;
  color: #34495e !important;
  font-family: 'Lato', Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  padding: 8px 8px 10px 55px !important;
  margin:5px 0px 5px 0px !important;
  height: 27px !important;
}

.chili_name_input,.chili_email_input{
	  width: 376px;
	  border: 1px solid #bdc3c7 !important;
	  color: #34495e !important;
	  font-family: 'Lato', Helvetica, Arial, sans-serif !important;
	  font-size: 15px !important;
	  padding: 8px 10px !important;
	  margin:5px 0px 5px 0px !important;
	  height: 27px !important;
}

.requestBtn{
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (min-width: 980px) and (max-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 979px) {

}

@media screen and (min-width: 481px) and (max-width: 767px){

}

@media screen and (max-width: 480px) {
body {
	font-size:90% !important;
}

.chili_request_body{
	width:90% !important;
}
.chili_name_input,.chili_email_input {
  width: 92% !important;
}

.chili_domain_input{
  width: 60%;
  border: 1px solid #bdc3c7 !important;
  color: #34495e !important;
  font-family: 'Lato', Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  padding: 8px 8px 10px 55px !important;
  margin:5px 0px 5px 0px !important;
  height: 27px !important;
}

}