
.chili_pass_changed > h4{
	background: #2fbfbf;
	color:white;
	text-align: center !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	border-radius: 4px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
	-webkit-backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.chili_resetPass_body{
	width:400px;
	margin:0 auto;
	background: #F3F3F3;
	border: 3px solid #DDD !important;
	padding: 0px 10px 15px 10px;
	margin-top: 30px !important;
}

.resetBtn{
	position: absolute;
	top:0;
	right: 0;
}

.chili_pass_input,.chili_email_input{
  width: 376px;
  border: 1px solid #bdc3c7 !important;
  color: #34495e !important;
  font-family: 'Lato', Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  padding: 8px 10px !important;
  margin:5px 0px 5px 0px !important;
  height: 27px !important;
}

.chili_home_link{
	background: white !important;
	margin:0 auto;
	width:400px;
	text-align: center !important;
}
.chili_home_link > a{
	color:#777 !important;
	text-decoration: none !important;
	margin:0 auto !important;
}
.chili_validation{
	color:#ff6661 !important;
	padding-top: 0px !important;
	margin-top: -8px;
	display: inline-table;
}

.chili_pass_changed{
	padding: 10px 10px 10px 10px;
	text-align: center;
}

@media screen and (min-width: 980px) and (max-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 979px) {

}

@media screen and (min-width: 481px) and (max-width: 767px){

}

@media screen and (max-width: 480px) {
body {
	font-size:90% !important;
}
.chili_resetPass_body{
	width:90% !important;
}
.chili_pass_input,.chili_email_input{
  width: 92% !important;
}

}